#app {
  box-sizing: border-box;
  word-break: normal;
  overflow: hidden;
}

#app *,
#app ::before,
#app ::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

#app ::before,
#app ::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

#app .v-app-bar.v-toolbar.v-sheet {
  background-color: #3a3837;
}

.v-application .v-app-bar.v-toolbar.v-sheet {
  background-color: #3a3837 !important;
}

* {
  padding: 0;
  margin: 0;
}

.theme--dark.v-app-bar.v-toolbar.v-sheet {
  background-color: red !important;
}


