#app {

    box-sizing: border-box;
    word-break: normal;
    overflow: hidden;

    *,
    ::before,
    ::after {
        background-repeat: no-repeat;
        box-sizing: inherit;
    }

    ::before,
    ::after {
        text-decoration: inherit;
        vertical-align: inherit;
    }

    & .v-app-bar.v-toolbar.v-sheet {
        background-color: #3a3837;
    }

}

@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

@include project('v-application') using($project) {

    & .v-app-bar.v-toolbar.v-sheet {
        background-color: map-deep-get($project, 'global', 'bg-color') !important;
    }

    //& .primary--text {
    //    color: map-deep-get($project, 'texts', 'primary--text') !important;
    //}
}
